.recommendation-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 4px solid #F1A33B; /* Yellow bar on the left */
}

.recommendation-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.recommendation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #333;
}

.recommendation-list li {
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1.5;
}
