html {
    font-size: calc(100vw / 593);
    box-sizing: border-box;
}

.pdfwrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;
}

@media only screen and (min-width: 594px) {
    html {
        font-size: 1px;
    }

    .pdfcontainer {
      width: 100vw;
    }

    .page {
        width: 595rem;
        height: 847rem;
        /* border: 1rem rgba(0, 0, 0, 0.1); */
        /* border: 1rem rgb(255, 0, 0); */
        border-radius: 2rem;
    }

    .font {
        font-size: 16px;
    }
}

@media only screen and (max-width: 593px) {
    html {
        font-size: calc(100vw / 593);
    }

    .page {
        font-size: 16rem;
        width: 100vw;
        height: 847rem;
        border: 1rem rgba(0, 0, 0, 0.1);
    }
}